html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: macondo;
}

.main {
	height: 100vh;
	width: 100%;
	display: flex;
}

.section-1 {
	background: #151515;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
	color: aliceblue;
	width: 100%;
	height: 100%;
	position: fixed;
}

.section-2 {
	z-index: -1;
	margin-left: auto;
	width: 50%;
	height: 100%;
}

.home-text-container {
	/* display: flex;
	align-items: center;
	justify-content: center; */
}

.home-text {
	font-weight: 100;
	margin: 0;
	position: absolute;
	top: 50%;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 20px;
}

.head-personal-name {
	position: fixed;
	bottom: 0;
	width: 100%;
	font-size: 13.5vw;
}

a:focus,
a:hover {
	color: #014c8c;
	text-decoration: none !important;
}


/* miscellaneous */
.img-resp {
	width: 100%;
	max-width: 100%;
	height: 100%;

}

.icon {
	height: 15px;
	width: 15px;
}

.social {}

.social-a {
	margin-right: 0.6em;
}

.social a {
	color: white !important;
}

.social a:hover {
	color: grey !important;
}
